* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito Sans";
    line-height: 1.65;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(216, 216, 216);
}

header {
    height: 700px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url(./image/background-header.jpg);
    background-position-y: center;
    background-size: cover;
    padding: 40px 80px;
}

img.logo {
    display: block;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    max-width: 1366px;
    margin: auto;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 500px;
}

.h-content {
    color: white;
    display: flex;
    padding: 0 250px;
    flex-direction: column;
    text-align: center;
    height: 600px;
    justify-content: center;
}

div.button {
    margin-top: 40px;
}

div.button a {
    padding: 15px 50px;
    background-color: rgb(32, 179, 199);
}

div.row img {
    height: auto;
    width: 100%;
}

div.row a {
    width: 30%;
    display: block;
    margin-right: 20px;
    margin-bottom: 30px;
}

div.row {
    display: flex;
    justify-content: center;
    width: 1150px;
    margin: auto;
}

div.row p {
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

div.hp {
    text-align: center;
    padding-top: 60px;
    background-color: rgb(245, 245, 245);
    padding-bottom: 60px;
}

h2 {
    font-size: 30px;
}

div.hp > p {
    margin-bottom: 30px;
    font-style: italic;
    color: rgb(138, 138, 138);
}

div.row a:hover img {
    opacity: 0.7;
}

div.layout {
    background-image: url(./image/promo-bg-1.jpg);
    background-size: cover;
    height: 650px;
    color: white;
    text-align: center;
    padding-top: 100px;
    overflow: hidden;
}

.layout img {
    width: 100%;
}

.fip {
    background-color: rgb(247, 247, 247);
    text-align: center;
    padding-top: 80px;
}

.fip > p {
    margin-bottom: 50px;
    font-style: italic;
    color: rgb(165, 165, 165);
}

.pp {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
}

.pp > p {
    color: rgb(165, 165, 165);
    font-style: italic;
}

.pp-pic {
    margin-top: 50px;
}

.pp-pic div {
   margin-right: 20px;
   cursor: pointer;
   outline: none;
}

.pp img {
    width: 100%;
    object-fit: cover;
}

.slick-dots {
    display: flex;
    justify-content: center;
}

.slick-dots li {
    margin-right: 5px;
}

.absolute-prev {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 30%;
    font-size: 35px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

.absolute-next {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 30%;
    font-size: 35px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

.fa-chevron-right:before {

}

.ptf {
    background-color: rgb(117, 252, 222);
    color: rgb(31, 31, 31);
    padding: 50px 50px;
    text-align: center;
}

.ptf > p {
    font-style: italic;
    margin-bottom: 50px ;
}

.info img {
    width: 50px;
    height: auto;
}

.info > div {
    width: 25%;
    text-align: center;
    margin-bottom: 30px;
    padding: 0 20px ;
}

.info {
    display: flex;
    padding: 0 40px ;
}

.hs {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f6f6f6;
}

.hs img {
    width: 350px;
    height: auto;
}

.hs > div {
    display: flex;
    padding: 50px 100px;
    justify-content: space-around;

}

.no-coding {
    text-align: center;
    padding: 70px 0 60px;
}

.no-coding p {
    margin-bottom: 50px;
}

.text {
    text-align: center;
    background-color: black;
    color: white;
    height: 300px;
}
